@charset "utf-8";
a.no1:link {color:#666666; text-decoration:none;}
a.no1:visited {color:#666666; text-decoration:none;} 
a.no1:hover {color:#000000; text-decoration:underline;}

a.no1b:link {color:#FF6600; text-decoration:none;FONT-WEIGHT: bold;}
a.no1b:visited {color:#FF6600; text-decoration:none;FONT-WEIGHT: bold;} 
a.no1b:hover {color:#FF6600; text-decoration:underline;FONT-WEIGHT: bold;}

a.no2:link {color:#666666; text-decoration:none;}
a.no2:visited {color:#666666; text-decoration:none;} 
a.no2:hover {color:#424242; text-decoration:underline;}

a.no3:link {color:#999999; text-decoration:none;}
a.no3:visited {color:#999999; text-decoration:none;} 
a.no3:hover {color:#FFFFFF; text-decoration:none;}

a.no4:link {color:#236E98; text-decoration:none;}
a.no4:visited {color:#236E98; text-decoration:none;} 
a.no4:hover {color:#FF0000; text-decoration:none;}

a.no5:link {color:#FFFFFF; text-decoration:none;}
a.no5:visited {color:#FFFFFF; text-decoration:none;} 
a.no5:hover {color:#FFFFFF; text-decoration:underline;}

TD    {font-size:12px; line-height=12pt;}
BODY  {font-size:12px; line-height: 15px}
select,input,form,textarea,option {font-size:9pt; line-height: 14px}



.ad{border:1 solid black}

.link { color: #FFFFFF; text-decoration: none}

.byte { BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 2em; COLOR: #336699; HEIGHT: 1em; BACKGROUND-COLOR: #84f2ef; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}

INPUT {
	FONT-FAMILY: "dotum"; COLOR: #737373; FONT-SIZE: 11px
}
SELECT {
	FONT-FAMILY: "dotum"; COLOR: #737373; FONT-SIZE: 12px
}
TEXTAREA {
	FONT-FAMILY: "dotum"; COLOR: #737373; FONT-SIZE: 12px
}

.sel
{
    BACKGROUND-COLOR: #d1edf6;
    COLOR: #183462;
    FONT-SIZE: 9pt
}

.sel01
{
    BACKGROUND-COLOR: #ebebeb;
    COLOR: #525252;
    FONT-SIZE: 9pt
}

.search {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 342px; COLOR: #971212; FONT-SIZE: 14px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid
}
.form00 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 4px
}
.form01 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; HEIGHT: 22px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 5px
}
.form02 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 4px
}
.form03 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 15px
}
.form05 {
	BORDER-BOTTOM: #ce0008 1px solid; BORDER-LEFT: #ce0008 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; HEIGHT: 15px; BORDER-TOP: #ce0008 1px solid; BORDER-RIGHT: #ce0008 1px solid; PADDING-TOP: 4px
}
.form06 {
	BORDER-BOTTOM: #b3bed0 1px solid; BORDER-LEFT: #b3bed0 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; HEIGHT: 15px; BORDER-TOP: #b3bed0 1px solid; BORDER-RIGHT: #b3bed0 1px solid; PADDING-TOP: 4px
}


A {
	COLOR: #737373; TEXT-DECORATION: none
}
A:link {
	COLOR: #303030; TEXT-DECORATION: none
}
A:visited {
	COLOR: #303030; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}


a.Subway:link {COLOR: #474747; TEXT-DECORATION: none;}
a.Subway:visited {COLOR: #737373; TEXT-DECORATION: underline;} 
a.Subway:hover {COLOR: #000000; TEXT-DECORATION: none; FONT-WEIGHT: bold;}




.bold {
	FONT-WEIGHT: bold
}
.line {
	TEXT-DECORATION: line-through
}

.size01 {
	FONT-SIZE: 12px
}
.size02 {
	FONT-SIZE: 11px
}
.size03 {
	FONT-SIZE: 15px; LETTER-SPACING: -1px
}

.size04 {
	FONT-SIZE: 11px; LETTER-SPACING: -1px; COLOR: #737373
}

.padding01 {
	PADDING-TOP: 3px
}

.padding02 {
	PADDING-TOP: 3px; PADDING-LEFT: 10px
}

.padding03 {
	PADDING-LEFT: 10px
}


.Gtext01 {
	COLOR: #494949; PADDING-TOP: 3px; PADDING-LEFT: 5px	
}

.Gtext02 {
	COLOR: #494949; PADDING-TOP: 3px
}

.Gtext02 {
	FONT-SIZE: 12px
}


.text01 {
	COLOR: #737373
}
.text02 {
	COLOR: #303030
}
.text03 {
	COLOR: #666666
}
.text04 {
	COLOR: #fe7b39
}
.text05 {
	COLOR: #cdcdcd
}
.text06 {
	COLOR: #a7a7a7
}
.text07 {
	COLOR: #4b4b4b
}
.text08 {
	COLOR: #000000
}
.text09 {
	COLOR: #ffffff
}
.text10 {
	COLOR: #ed1c24
}

.text11 {
	COLOR: #FFFFFF; PADDING: 3px 3px 1px 1px
}

.text12b {
	BACKGROUND-COLOR: #ff6600; COLOR: #ffffff; PADDING: 4px 6px 4px 6px
}
a.text12b:link {color:#FFFFFF; text-decoration:none;}
a.text12b:hover {color:#FFFFFF; text-decoration:none;}

a.text12:link {color:#666666; text-decoration:none;}
a.text12:hover {BACKGROUND-COLOR: #ff6600; color:#FFFFFF; text-decoration:none; PADDING: 4px 6px 4px 6px}



.link01 {
	COLOR: #5a5044; TEXT-DECORATION: none
}
.link01:link {
	COLOR: #5a5044; TEXT-DECORATION: none
}
.link01:visited {
	COLOR: #5a5044; TEXT-DECORATION: none
}
.link01:hover {
	COLOR: #5a5044
}
.link02 {
	COLOR: #7e8aae; TEXT-DECORATION: none
}
.link02:link {
	COLOR: #7e8aae; TEXT-DECORATION: none
}
.link02:visited {
	COLOR: #7e8aae; TEXT-DECORATION: none
}
.link02:hover {
	COLOR: #7e8aae
}

.photo_img {
	
}

.photo_img TD.on {
	BORDER-BOTTOM: #FF0000 1px solid; BORDER-LEFT: #FF0000 1px solid; BORDER-TOP: #FF0000 1px solid; BORDER-RIGHT: #FF0000 1px solid
}

.Bn01 {
	COLOR: #222222; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.Bn02 {
	COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 18px
}
.Bn03 {
	COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 16px
}
.Bn04 {
	COLOR: #434856; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.Bn05 {
	COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.Bn06 {
	COLOR: #666666; FONT-SIZE: 12px; font-family: ?��?, seoul, arial, helvetica; line-height: 16px
}
.Bn07 {
	COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.Bn08 {
	COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.Bn09 {
	COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica;
}
.Bn10 {
	COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 18px
}
.Bn11 {
	COLOR: #303030; FONT-SIZE: 24px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 20px
}
.Bn11b {
	COLOR: #303030; FONT-SIZE: 22px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica;
}
.Bn12 {
	COLOR: #666666; FONT-SIZE: 12px; font-family: ?��?, seoul, arial, helvetica; PADDING-BOTTOM: 2px
}
.Bn13 {
	COLOR: #303030; FONT-SIZE: 12px; font-family: ?��?, seoul, arial, helvetica; PADDING-BOTTOM: 2px
}
.Bn14 {
	COLOR: #303030; FONT-SIZE: 13px; font-family: ?��?, seoul, arial, helvetica; PADDING-BOTTOM: 2px
}
.Bn15 {
	COLOR: #666666; FONT-SIZE: 13px; font-family: ?��?, seoul, arial, helvetica; PADDING-BOTTOM: 2px
}

.cnt01 {
	COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.cnt02 {
	COLOR: #303030; PADDING-TOP: 2px; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.cnt03 {
	COLOR: #222222; FONT-SIZE: 30px; LETTER-SPACING: -2px; line-height=120%; font-family: ?��?, seoul, arial, helvetica; PADDING-TOP: 5px; font-weight: bold
}
.cnt04 {
	COLOR: #4b4b4b; COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.cnt05 {
	COLOR: #303030; PADDING-TOP: 2px; FONT-SIZE: 15px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.cnt06 {
	COLOR: #303030; PADDING-TOP: 2px; FONT-SIZE: 15px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.cnt07 {
	COLOR: #303030; PADDING-TOP: 2px; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.cnt08 {
	COLOR: #303030; FONT-SIZE: 12px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.cnt09 {
	COLOR: #303030; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}
.cnt10 {
	COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px
}

.Dn01 {
	COLOR: #222222; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold
}
a.Dn01_link:link {COLOR: #222222; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;}
a.Dn01_link:visited {COLOR: #222222; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;} 
a.Dn01_link:hover {COLOR: #222222; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:underline;}

.Dn01b {
	COLOR: #CCCCCC; FONT-SIZE: 17px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold
}
a.Dn01b_link:link {COLOR: #CCCCCC; FONT-SIZE: 17px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;}
a.Dn01b_link:visited {COLOR: #CCCCCC; FONT-SIZE: 17px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;} 
a.Dn01b_link:hover {COLOR: #FFFFFF; FONT-SIZE: 17px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;}

.Dn01c {
	COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;
}
a.Dn01c_link:link {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none; PADDING-BOTTOM: 2px;}
a.Dn01c_link:visited {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none; PADDING-BOTTOM: 2px;} 
a.Dn01c_link:hover {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none; PADDING-BOTTOM: 2px;}

.Dn02 {
	COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px
}
a.Dn02_link:link {COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;}
a.Dn02_link:visited {COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;} 
a.Dn02_link:hover {COLOR: #303030; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:underline;}

.Dn03 {
	COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 16px
}
a.Dn03_link:link {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 16px; text-decoration:none;}
a.Dn03_link:visited {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 16px; text-decoration:none;} 
a.Dn03_link:hover {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 16px; text-decoration:underline;}

.Dn04 {
	COLOR: #434856; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold
}
.Dn04b {
	COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px
}
.Dn05 {
	COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px;
}
a.Dn05_link:link {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Dn05_link:visited {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Dn05_link:hover {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.Dn05b {
	COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px
}
a.Dn05b_link:link {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;}
a.Dn05b_link:visited {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;} 
a.Dn05b_link:hover {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:underline;}

.Dn05c {
	COLOR: #FFFFFF; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px
}
a.Dn05c_link:link {COLOR: #FFFFFF; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;}
a.Dn05c_link:visited {COLOR: #FFFFFF; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;} 
a.Dn05c_link:hover {COLOR: #FFFFFF; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:underline;}

.Dn05d {
	COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px
}
a.Dn05d_link:link {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;}
a.Dn05d_link:visited {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:none;} 
a.Dn05d_link:hover {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px ; text-decoration:underline;}

.Dn05e {
	COLOR: #bbbbbb; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; font-weight: bold;
}
a.Dn05e_link:link {COLOR: #bbbbbb; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.Dn05e_link:visited {COLOR: #bbbbbb; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.Dn05e_link:hover {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}

.Dn05f {
	COLOR: #434856; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-LEFT: 15px;
}
a.Dn05f_link:link {COLOR: #434856; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Dn05f_link:visited {COLOR: #000000; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.Dn05f_link:hover {COLOR: #000000; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}

.Dn05g {
	COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-LEFT: 15px; font-weight: bold;
}
a.Dn05g_link:link {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.Dn05g_link:visited {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.Dn05g_link:hover {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}

.Dn05h {
	COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; PADDING-BOTTOM: 3px;
}

.Dn06 {
	COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; line-height: 16px
}
.Dn07 {
	COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
.Dn08 {
	COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
a.Dn08_link:link {COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Dn08_link:visited {COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Dn08_link:hover {COLOR: #000000; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.Dn09 {
	COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕;
}
a.Dn09_link:link {COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.Dn09_link:visited {COLOR: #303030; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.Dn09_link:hover {COLOR: #000000; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

.Dn10 {
	COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px
}
.Dn10c {
	COLOR: #CCCCCC; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px
}
a.Dn10c_link:link {COLOR: #CCCCCC; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;}
a.Dn10c_link:visited {COLOR: #CCCCCC; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;} 
a.Dn10c_link:hover {COLOR: #CCCCCC; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:underline;}

a.Dn10_link:link {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;}
a.Dn10_link:visited {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;} 
a.Dn10_link:hover {COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:underline;}

a.Dn10_link2:link {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;}
a.Dn10_link2:visited {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:none;} 
a.Dn10_link2:hover {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px; text-decoration:underline;}

.Dn10b {
	COLOR: #666666; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}

.Dn11 {
	COLOR: #303030; FONT-SIZE: 24px; LETTER-SPACING: -2px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
.Dn11b {
	COLOR: #303030; FONT-SIZE: 22px; LETTER-SPACING: -2px; font-family: Malgun Gothic,맑�? 고딕;
}
.Dn11c {
	COLOR: #303030; FONT-SIZE: 22px; LETTER-SPACING: -2px; font-family: Malgun Gothic,맑�? 고딕; line-height: 24px; PADDING-BOTTOM: 4px
}
.Dn11d {
	COLOR: #ff6610; FONT-SIZE: 32px; LETTER-SPACING: -2px; font-family: Malgun Gothic,맑�? 고딕; line-height: 38px; font-weight: bold
}

.Dn12 {
	COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px
}
a.Dn12_link:link {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;}
a.Dn12_link:visited {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;} 
a.Dn12_link:hover {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline;}

a.Dn12_linkb:link {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none; font-weight: bold;}
a.Dn12_linkb:visited {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none; font-weight: bold;} 
a.Dn12_linkb:hover {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline; font-weight: bold;}

a.Dn12_link2:link {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.Dn12_link2:visited {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.Dn12_link2:hover {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline; font-weight: bold;}

a.Dn12_link3:link {COLOR: #ff461d; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.Dn12_link3:visited {COLOR: #ff461d; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.Dn12_link3:hover {COLOR: #ff461d; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline; font-weight: bold;}

.Dn13 {
	COLOR: #303030; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px
}

.Dn14 {
	COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px
}
a.Dn14_link:link {COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;}
a.Dn14_link:visited {COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;} 
a.Dn14_link:hover {COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline;}

a.Dn14_link2:link {COLOR: #ff461d; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;}
a.Dn14_link2:visited {COLOR: #ff461d; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;} 
a.Dn14_link2:hover {COLOR: #ff461d; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline;}

.Dn15 {
	COLOR: #666666; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px
}
a.Dn15_link:link {COLOR: #666666; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;}
a.Dn15_link:visited {COLOR: #666666; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;} 
a.Dn15_link:hover {COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline;}


.Fn01 {
	COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 3px
}
.Fn02 {
	COLOR: #FFFFFF; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 3px
}
.Fn02b {
	COLOR: #66d0cc; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 3px
}
.Fn03 {
	COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
a.Fn03_link:link {COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Fn03_link:visited {COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Fn03_link:hover {COLOR: #303030; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.Fn04 {
	COLOR: #797979; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
.Fn05 {
	COLOR: #ff461d; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
a.Fn05_link:link {COLOR: #ff461d; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Fn05_link:visited {COLOR: #ff461d; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Fn05_link:hover {COLOR: #ff461d; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.Fn06 {
	COLOR: #0091c3; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
.Fn07 {
	COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 3px
}
.Fn08 {
	COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px
}
a.Fn08_link:link {COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Fn08_link:visited {COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Fn08_link:hover {COLOR: #303030; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

a.Fn08_link2:link {COLOR: #ff461d; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.Fn08_link2:visited {COLOR: #ff461d; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.Fn08_link2:hover {COLOR: #ff461d; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.Fn09 {
	COLOR: #666666; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; line-height: 18px
}
a.Fn09_link:link {COLOR: #666666; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; line-height: 18px; text-decoration:none;}
a.Fn09_link:visited {COLOR: #666666; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; line-height: 18px; text-decoration:none;} 
a.Fn09_link:hover {COLOR: #666666; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; line-height: 18px; text-decoration:underline;}

.Fn10 {
	COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;
}
.Fn11 {
	COLOR: #222222; FONT-SIZE: 50px; LETTER-SPACING: -2px; line-height: 50px; font-family: ?��?, seoul, arial, helvetica; font-weight: bold
}
.Fn12 {
	COLOR: #303030; FONT-SIZE: 32px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 20px
}
.Fn13 {
	COLOR: #797979; FONT-SIZE: 16px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 26px
}

.Frm01 {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #c6c6c6 1px solid; HEIGHT: 30px; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-LEFT: 5px; PADDING-TOP: 6px; BACKGROUND-COLOR: #f9f9f9
}
.Frm02 {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-LEFT: 5px; BACKGROUND-COLOR: #f9f9f9
}
.Frm03 {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #c6c6c6 1px solid; HEIGHT: 45px; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-LEFT: 5px; BACKGROUND-COLOR: #f9f9f9
}
.Frm04 {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #c6c6c6 1px solid; HEIGHT: 30px; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-LEFT: 5px; BACKGROUND-COLOR: #FFFFFF
}

a.LFn01:link {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn01:visited {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn01:hover {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02:link {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02:visited {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02:hover {COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02b:link {COLOR: #fd578a; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02b:visited {COLOR: #fd578a; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02b:hover {COLOR: #fd578a; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02c:link {COLOR: #3aa3ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02c:visited {COLOR: #3aa3ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02c:hover {COLOR: #3aa3ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02d:link {COLOR: #ff37ad; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02d:visited {COLOR: #ff37ad; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02d:hover {COLOR: #ff37ad; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02e:link {COLOR: #07c6ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02e:visited {COLOR: #07c6ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02e:hover {COLOR: #07c6ff; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02f:link {COLOR: #ff6c69; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02f:visited {COLOR: #ff6c69; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02f:hover {COLOR: #ff6c69; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn02g:link {COLOR: #66d0cc; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn02g:visited {COLOR: #66d0cc; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn02g:hover {COLOR: #66d0cc; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn03:link {COLOR: #434856; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; font-weight: bold; LETTER-SPACING: -1px}
a.LFn03:visited {COLOR: #434856; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; font-weight: bold; LETTER-SPACING: -1px} 
a.LFn03:hover {COLOR: #000000; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline; font-weight: bold; LETTER-SPACING: -1px}

a.LFn04:link {COLOR: #434856; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; font-weight: bold; LETTER-SPACING: -1px}
a.LFn04:visited {COLOR: #434856; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; font-weight: bold; LETTER-SPACING: -1px} 
a.LFn04:hover {COLOR: #000000; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline; font-weight: bold; LETTER-SPACING: -1px}

a.LFn05:link {COLOR: #ff9966; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn05:visited {COLOR: #ff9966; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn05:hover {COLOR: #ff9966; PADDING-BOTTOM: 3px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn06:link {COLOR: #303030; LETTER-SPACING: -1px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn06:visited {COLOR: #303030; LETTER-SPACING: -1px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn06:hover {COLOR: #303030; LETTER-SPACING: -1px; FONT-SIZE: 14px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn07:link {COLOR: #303030; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn07:visited {COLOR: #303030; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn07:hover {COLOR: #000000; PADDING-BOTTOM: 2px; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn08:link {COLOR: #303030; LETTER-SPACING: -1px; line-height: 22px; FONT-SIZE: 18px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.LFn08:visited {COLOR: #303030; LETTER-SPACING: -1px; line-height: 22px; FONT-SIZE: 18px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.LFn08:hover {COLOR: #000000; LETTER-SPACING: -1px; line-height: 22px; FONT-SIZE: 18px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

a.LFn09:link {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.LFn09:visited {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.LFn09:hover {COLOR: #000000; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

a.LFn09b:link {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.LFn09b:visited {COLOR: #434856; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.LFn09b:hover {COLOR: #000000; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline; font-weight: bold;}

a.LFn09c:link {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;}
a.LFn09c:visited {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none; font-weight: bold;} 
a.LFn09c:hover {COLOR: #ff461d; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline; font-weight: bold;}

a.LFn10:link {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;}
a.LFn10:visited {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none;} 
a.LFn10:hover {COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline;}

a.LFn10b:link {COLOR: #434856; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none; font-weight: bold;}
a.LFn10b:visited {COLOR: #434856; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:none; font-weight: bold;} 
a.LFn10b:hover {COLOR: #434856; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px; text-decoration:underline; font-weight: bold;}

.Nform01 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; HEIGHT: 26px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid;
}

.C_form01 {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; HEIGHT: 22px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid;
}




a.cnt10:link {COLOR: #cacbd1; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px; text-decoration:none;}
a.cnt10:visited {COLOR: #cacbd1; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px; text-decoration:none;} 
a.cnt10:hover {COLOR: #cacbd1; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 22px; text-decoration:underline;}

.admin01 {
	COLOR: #fffce3; PADDING-LEFT: 24px; PADDING-BOTTOM: 2px; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; font-weight: bold
}

a.admin02:link {COLOR: #FFFFFF; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;}
a.admin02:visited {COLOR: #FFFFFF; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:none;} 
a.admin02:hover {COLOR: #FFFFFF; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; text-decoration:underline;}

.admin03 {
	COLOR: #303030; PADDING-BOTTOM: 3px; FONT-SIZE: 20px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; line-height: 22px; font-weight: bold
}

.admin04 {
	COLOR: #4b4b4b; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕;
}
.admin04b {
	COLOR: #4b4b4b; FONT-SIZE: 12px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕;
}

a.admin04_link:link {COLOR: #4b4b4b; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.admin04_link:visited {COLOR: #4b4b4b; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.admin04_link:hover {COLOR: #4b4b4b; FONT-SIZE: 13px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

.admin05 {
	COLOR: #FFFFFF; PADDING-BOTTOM: 3px; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold;
}

a.admin06:link {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;}
a.admin06:visited {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none;} 
a.admin06:hover {COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:underline;}

.admin06b {
	COLOR: #FFFFFF; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕;
}

a.search01:link {COLOR: #4b4b4b; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;}
a.search01:visited {COLOR: #4b4b4b; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none;} 
a.search01:hover {COLOR: #4b4b4b; FONT-SIZE: 14px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline;}

.cs_Input01 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:31px;border:1px solid #9fa4b7; -webkit-appearance: none; -webkit-border-radius: 3px;}
.cs_Input01b {-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:28px;border:1px solid #d6d5d5; -webkit-appearance: none;}
.cs_Input01c {border-box;padding:3px 7px 0 7px;height:28px;border:1px solid #d6d5d5;}
.cs_Input01D {width:100%;-webkit-box-sizing: border-box;padding-left:7px;height:26px;border:1px solid #c9c9c9; -webkit-appearance: none;COLOR:#333333}
.cs_Input01e {width:100%;padding-left:7px;height:26px;border:1px solid #c9c9c9;COLOR:#333333;border-radius: 0px;}
.cs_Input02 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:36px;border:1px solid #9fa4b7; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #bcbcbc; COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input03 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:36px;border:1px solid #113869; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #145098; COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input04 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:36px;border:1px solid #9fa4b7; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #F1F1F1; COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input05 {width:100%;height:80px;border:0px solid #eeeeee; BACKGROUND-COLOR: #eeeeee; COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕;}
.cs_Input06 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:31px;border:1px solid #CCCCCC; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #F9F9F9; COLOR: #303030; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input07 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:31px;border:1px solid #816b41; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #9a8355; COLOR: #FFFFFF; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input08 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:36px;border:1px solid #FF3300; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #ff6633; COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input09 {width:70px;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:28px;border:1px solid #989898; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #FFFFFF; COLOR: #222222; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input10 {width:70px;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:28px;border:1px solid #1fb7d0; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #40c4da; COLOR: #FFFFFF; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input11 {width:100%;-webkit-box-sizing: border-box;padding:3px 7px 3 7px;height:31px;border:1px solid #9fa4b7; -webkit-appearance: listbox; -webkit-border-radius: 3px; FONT-SIZE: 14px; text-align:center; background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#edeef0));}
.cs_Input12 {width:40px;-webkit-box-sizing: border-box;padding:3px 7px 0 7px;height:26px;border:1px solid #989898; -webkit-appearance: none; -webkit-border-radius: 3px; BACKGROUND-COLOR: #FFFFFF; COLOR: #222222; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;}
.cs_Input13 {width:100%;-webkit-box-sizing: border-box;padding:3px 3px 3px 3px;height:38px;border:1px solid #333333; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #444444; COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; }
.cs_Input13b {width:100%;-webkit-box-sizing: border-box;padding:3px 3px 3px 3px;height:38px;border:1px solid #CCCCCC; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #E5E5E5; COLOR: #666666; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; }
.cs_Input14 {width:100%;box-sizing: border-box;padding:3px 7px 0 7px;height:26px;border:1px solid #CCCCCC; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #F9F9F9; COLOR: #303030; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;}
.cs_Input15 {box-sizing: border-box;padding:3px 7px 0 7px;height:26px;border:1px solid #CCCCCC; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #F9F9F9; COLOR: #303030; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;}
.cs_Input16 {box-sizing: border-box;height:38px;border:1px solid #ee5600; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #ff6610; COLOR: #FFFFFF; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input16b {box-sizing: border-box;height:38px;border:1px solid #CCCCCC; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #E5E5E5; COLOR: #666666; FONT-SIZE: 13px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input17 {box-sizing: border-box;height:26px;border:1px solid #CCCCCC; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #FFFFFF; COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕;}
.cs_Input18 {box-sizing: border-box;height:26px;border:1px solid #333333; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #444444; COLOR: #FFFFFF; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.cs_Input19 {width:100%;box-sizing: border-box;padding:3px 7px 0 7px;height:26px;border:1px solid #9fa4b7; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #ffffff; COLOR: #737373; FONT-SIZE: 11px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;}

.cs_Textarea {width:100%;box-sizing: border-box;font-size:12px;padding:7px 7px 7px 7px;height:40px;border:1px solid #d5d5d5; appearance: none; border-radius: 5px;OVERFLOW-Y: hidden}

.DS1 {
	COLOR: #888888; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica;
}
a.DS1_link:link {COLOR: #888888; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 18px; text-decoration:none;}
a.DS1_link:visited {COLOR: #888888; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 18px; text-decoration:none;} 
a.DS1_link:hover {COLOR: #888888; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: ?��?, seoul, arial, helvetica; line-height: 18px; text-decoration:underline;}

.DS2 {
	COLOR: #303030; FONT-SIZE: 24px; LETTER-SPACING: -2px; font-family: Malgun Gothic,맑�? 고딕; line-height: 24px; PADDING-BOTTOM: 4px; font-weight: bold; 
}

.DS3 {
	COLOR: #222222; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; line-height: 24px; 
}
a.DS3_link:link {COLOR: #222222; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none; line-height: 24px; }
a.DS3_link:visited {COLOR: #222222; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:none; line-height: 24px; } 
a.DS3_link:hover {COLOR: #222222; FONT-SIZE: 18px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; text-decoration:underline; line-height: 24px; }

.DS4 {
	COLOR: #666666; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; PADDING-BOTTOM: 2px;
}
a.DS4_link:link {COLOR: #666666; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; PADDING-BOTTOM: 2px;}
a.DS4_link:visited {COLOR: #666666; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:none; PADDING-BOTTOM: 2px;} 
a.DS4_link:hover {COLOR: #666666; FONT-SIZE: 11px; LETTER-SPACING: -1px; font-family: Malgun Gothic,맑�? 고딕; text-decoration:underline; PADDING-BOTTOM: 2px;}

.DS_Input1 {width:100%;box-sizing: border-box;padding:3px 7px 0 7px;height:26px;border:1px solid #dddddd; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #FFFFFF; COLOR: #303030; FONT-SIZE: 11px; font-family: ?��?, seoul, arial, helvetica; PADDING-BOTTOM: 2px;}

.DS_Input2 {width:100%; height:32px; border:1px solid #b0b5bd; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #FAFAFA; COLOR: #313131; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; }

.DS_btn1 {box-sizing: border-box;height:23px;border:1px solid #333333; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #333333; COLOR: #FFFFFF; FONT-SIZE: 11px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 4px;}
.DS_btn2 {box-sizing: border-box;height:38px;border:1px solid #396c9d; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #4983bb; COLOR: #FFFFFF; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.DS_btn2b {box-sizing: border-box;height:38px;border:1px solid #DDDDDD; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #F2F2F2; COLOR: #666666; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}
.DS_btn3 {box-sizing: border-box;height:38px;border:1px solid #e26000; appearance: none; border-radius: 3px; BACKGROUND-COLOR: #ff6c00; COLOR: #FFFFFF; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; font-weight: bold; PADDING-BOTTOM: 2px;}

.DS_Textarea1 {width:100%;border:1px solid #b0b5bd; border-radius: 3px; BACKGROUND-COLOR: #fafafa; COLOR: #818181; LETTER-SPACING: -1px; FONT-SIZE: 12px; font-family: Malgun Gothic,맑�? 고딕; line-height: 18px}


a.L00:link {text-decoration:none;}
a.L00:visited {text-decoration:none;} 
a.L00:hover {text-decoration:none;}

a.L01:link {color:#505050; text-decoration:none;}
a.L01:visited {color:#505050; text-decoration:none;} 
a.L01:hover {color:#000000; text-decoration:underline;}

a.L01b:link {color:#FF3300; text-decoration:none;}
a.L01b:visited {color:#FF3300; text-decoration:none;} 
a.L01b:hover {color:#FF3300; text-decoration:underline;}

a.L01c:link {color:#FF3300; text-decoration:none; FONT-WEIGHT: bold;}
a.L01c:visited {color:#FF3300; text-decoration:none; FONT-WEIGHT: bold;} 
a.L01c:hover {color:#FF3300; text-decoration:underline; FONT-WEIGHT: bold;}

a.L01d:link {color:#FF3300; text-decoration:none; FONT-WEIGHT: bold;}
a.L01d:visited {color:#FF3300; text-decoration:none; FONT-WEIGHT: bold;} 
a.L01d:hover {color:#FF3300; text-decoration:underline; FONT-WEIGHT: bold;}


a.Cno1:link {color:#303030; text-decoration:none;}
a.Cno1:visited {color:#303030; text-decoration:none;} 
a.Cno1:hover {color:#303030; text-decoration:underline;}

a.Cno2:link {color:#222222; text-decoration:none;}
a.Cno2:visited {color:#222222; text-decoration:none;} 
a.Cno2:hover {color:#222222; text-decoration:underline;}

.mw_layer{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%}
.mw_layer.open{display:block}
.mw_layer .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}

#layer{position:absolute;top:50%;left:50%;width:440px;margin:-150px 0 0 -194px;padding:28px 28px 0 28px;border:1px solid #FF5A00;background:#fff;font-size:12px;font-family:Malgun Gothic,맑�? 고딕;color:#767676;line-height:normal;white-space:normal}


